body {
  background: #1f2937;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  margin: auto;
  margin-top: 8px;
  width: 100%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  width: 150px;
}

.links {
  font-size: 10px;
  color: #e5e7eb;
  justify-content: space-evenly;
  width: 500px;
  list-style-type: none;
  text-decoration: none;
}

.subsections {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.one {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-left: 138px;
  margin-right: 138px;
  margin-bottom: 50px;
  height: 300px;
}

.left {
  flex: 1;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 0px;
}

#img-one {
  flex: 1;
}

#one {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#two {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  margin-top: 5px;
  background-color: #3882f6;
  width: 80px;
  height: 20px;
  margin-left: 0px;
  color: #e5e7eb;
  border: none;
  border-radius: 3px;
  padding: 2px;
}

.two {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-top: 20px;
}
.images-and-text {
  font-size: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.blank.img {
  margin-top: 15px;
  border: solid #3882f6;
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.just.text {
  width: 100px;
}

.three {
  background-color: #e5e7eb;
  box-sizing: border-box;
  border: 100px solid #e5e7eb;
  /* width: 400px; */
  /* display: flex; */
  flex-direction: column;
}

.phrase {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
  flex-wrap: wrap;
  font-style: italic;
  color: #1f2937;
  font-size: 18px;
}

.thor {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 900;
  /* justify-content: end; */
  margin-left: 550px;
}

.four {
  background: #3882f6;
  color: #f9faf8;
  /* box-sizing: border-box; */
  border: 50px solid #f9faf8;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.last.div {
  display: flex;
}
.footer {
  color: #e5e7eb;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
